/* 
font-family: 'Original Surfer', cursive;
font-family: 'Poppins', sans-serif;

#736DF6
#AC88EF

*/

body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  background-color: beige;
}

/* CSS for Navbar */
.nav {
  height: 70px;
  width: 100%;
  background-color: #ac88ef;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav > .nav-header {
  display: inline;
}

.nav > .nav-header > .nav-title {
  font-family: 'Original Surfer', cursive;
  display: inline-block;
  font-size: 30px;
  color: #fff;
  margin-left: 30px;
  text-decoration: none;
}

.nav > .nav-btn {
  display: none;
}

#searchbar {
  height: 25px;
  width: 250px;
  border-radius: 30px;
  border-style: none;
  padding-left: 10px;
  font-size: 1.1rem;
  font-weight: 600;
}
#searchbar:focus {
  outline: none;
}

.nav > .nav-links {
  display: inline;
  float: right;
  font-size: 18px;
}

.nav > .nav-links > a {
  display: inline-block;
  padding: 13px 10px 13px 10px;
  text-decoration: none;
  color: #efefef;
}

.nav > .nav-links > a:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

.nav > #nav-check {
  display: none;
}

@media (max-width: 850px) {
  .nav > .nav-btn {
    display: inline-block;
    position: absolute;
    right: 0px;
    top: 0px;
  }
  #searchbar {
    margin-top: 15px;
  }
  .nav > .nav-btn > label {
    display: inline-block;
    width: 50px;
    height: 50px;
    padding: 13px;
  }
  .nav > .nav-btn > label:hover,
  .nav #nav-check:checked ~ .nav-btn > label {
    background-color: rgba(0, 0, 0, 0.3);
  }
  .nav > .nav-btn > label > span {
    display: block;
    width: 25px;
    height: 10px;
    border-top: 2px solid #eee;
  }
  .nav > .nav-links {
    position: absolute;
    display: block;
    width: 100%;
    background-color: #333;
    height: 0px;
    transition: all 0.3s ease-in;
    overflow-y: hidden;
    top: 50px;
    left: 0px;
  }
  .nav > .nav-links > a {
    display: block;
    width: 100%;
  }
  .nav > #nav-check:not(:checked) ~ .nav-links {
    height: 0px;
  }
  .nav > #nav-check:checked ~ .nav-links {
    height: calc(100vh - 50px);
    overflow-y: auto;
  }
}

/* Submit form section */
.form-container {
  background-image: url('./../images/submit_background.webp');
  background-size: 100% 100%;
  padding: 50px 0;
}

.form-title{
  font-size: 1.5rem;
  font-weight: 700;
  text-align: center;
}

.form-container form {
  width: 40%;
  background-color: white;
  margin: 0px auto;
  padding: 20px 50px;
  border-radius: 5px;
  box-shadow: 10px 10px 30px 5px rgba(0,0,0,0.75);
}

.form-input {
  width: 100%;
  padding: 10px 10px;
  border-radius: 5px;
  font-size: 1.1rem;
  margin-bottom: 20px;
  background-color: #d3d3d3;
  border-style: none;
}

.form-input:focus {
  outline: none;
}

.date-time {
  display: flex;
  justify-content: space-between;
}

.date-time input {
  width: 100%;
}

.form-labels {
  font-weight: 700;
}

.form-labels span{
  color: red;
}

.form-buttons{
  width: 40%;
  height: 40px;
  background-color: #736DF6;
  border-style: none;
  border-radius: 5px;
}

.buttons-container{
  display: flex;
  justify-content: space-around;
  margin: 30px 0;
}

@media (max-width: 800px) {
  .form-container form{
    width: 60%;
  }
  .date-time {
    flex-wrap: wrap;
  }
  .buttons-container{
    flex-wrap: wrap;
  }
  .form-buttons{
    width: 100%;
    margin-top: 10px;
  }
}

/* Footer section */

.footer-basic {
  padding: 40px 0;
  background-color: #ac88ef;
  color: white;
}

.footer-basic ul {
  padding: 0;
  list-style: none;
  text-align: center;
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 0;
  display: flex;
  justify-content: center;
}

.footer-basic li {
  padding: 0 10px;
  font-size: 1.3rem;
}

.footer-basic ul a {
  color: inherit;
  text-decoration: none;
  opacity: 0.8;
}

.footer-basic ul a:hover {
  opacity: 1;
}

.footer-basic .social {
  text-align: center;
  padding-bottom: 25px;
}

.footer-basic .social > a {
  font-size: 24px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  border: 1px solid #ccc;
  margin: 0 8px;
  color: inherit;
  opacity: 0.75;
}

.footer-basic .social > a:hover {
  opacity: 0.9;
}

.footer-basic .copyright {
  margin-top: 15px;
  text-align: center;
  font-size: 13px;
  margin-bottom: 0;
}

@media (max-width: 500px) {
  .footer-basic ul {
    flex-direction: column;
  }
}
